<div class="container intro">
  <div class="row">
    <div class="col-sm-4">
      <h3><i class="fa fa-link fa-fw"></i>Shorten</h3>
      <p>Shorten your URL so it’s ready to be shared everywhere</p>
    </div>
    <div class="col-sm-4">
      <h3><i class="fa fa-area-chart fa-fw"></i>Track</h3>
      <p>Analytics help you know where your clicks are coming from</p>
    </div>
    <div class="col-sm-4">
      <h3><i class="fa fa-check-square-o fa-fw"></i>Easy</h3>
      <p>Everybody can access shorten URLs</p>
    </div>
  </div>
</div>
