<footer>
  <div class="footer">
    <div class="container">

      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <h3 class="text-center">BE THE FIRST TO KNOW</h3>
          <p class="text-center">Get all the latest information on Events, News, Software. Sign up for the Leng Keng newsletter today.</p>
          <hr>
          <input type="text" class="form-control" title="email" placeholder="Email">
          <hr>
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © <%= t "base_title" %> <%= Time.now.year %> by ohmygodvt95@gmail.com. All right reserved. </p>
      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
